@{
}
<div class="row" id="taskDashboad">
</div>

<div class="row" id="logDashboad">
</div>
<script type="text/javascript">
    $('#menu_dashboard').attr('class', 'active');
    function updateTaskDashboad() {
        $.get("/dashboad/task",
            function (data) {
                var content = $('#taskDashboad');
                content.empty().append(data);
            });
    }
    function updateLogDashboad() {
        $.get("/dashboad/log",
            function (data) {
                var content = $('#logDashboad');
                content.empty().append(data);
            });
    }
    updateTaskDashboad();
    updateLogDashboad();
    setInterval(updateTaskDashboad, 5000);
    setInterval(updateLogDashboad, 60000);
</script>
