@{
    Layout = null;
}
 <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>@ViewBag.LogCount</h3>
            <p>Log Count</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>