@model DotnetSpider.Portal.Models.DockerRepository.AddRepositoryViewModel

@section breadcrumb{
    <li >
        <a href="#">Add image repository</a>
    </li>
}

@section header{
    Add image repository<small v-text="moduleDescription"></small>
}

<div class="col-xs-12">
    <div class="box">
        <form action="/docker-repository/add" method="post">
            @await Html.PartialAsync("_ValidationSummary")
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control" autocomplete="false" type="text">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Registry</label>
                            <input asp-for="Registry" class="form-control" autocomplete="false" type="text">
                            <span asp-validation-for="Registry" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Repository</label>
                            <input asp-for="Repository" class="form-control" autocomplete="false" type="text">
                            <span asp-validation-for="Repository" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-default btn-sm  btn-flat">提交</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</div>

@section scripts
{
    <script>
        $(function() {
            app.activeMenu('Repository');
        })
    </script>
}