<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
    <b>
        <i>
            <span lang="EN-US" style="font-size:12.0pt;
line-height:127%;font-family:&quot;Cambria&quot;,&quot;serif&quot;;color:#1A325D">Research Calls from the Country Code of China</span>
        </i>
    </b>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;line-height:127%"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">86Research is a boutique equity research firm registered in Hong Kong and headquartered in Shanghai, China, with additional offices in Beijing. Our sales representatives are based in New York, California and Shanghai.</span><b><span lang="EN-US" style="font-size:14.0pt;line-height:150%;font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p></o:p></span></b></p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:41.7pt;
margin-bottom:0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:127%">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        We are able to maintain strict independence
        and objectivity because we do not offer direct investment-banking or brokerage
        services to clients. We have adopted rigorous compliance rules to produce research
        within the SEC's Fair Disclosure (FD) guidelines.<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:41.7pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:127%"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:3.15pt;
margin-bottom:0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:127%">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        86Research’s team of professionals offer in-depth
        knowledge of China’s TMT and Consumer sectors, extensive industry contacts, and
        decades of Wall Street experience serving institutional investors.<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:1.0pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
line-height:14.0pt;mso-line-height-rule:exactly"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:6.65pt;
margin-bottom:0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:127%">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        We provide state-of-art research services
        to help investors identify extraordinary investment opportunities in <b>
            China’s
            Internet
        </b>and <b>Media</b>, <b>eCommerce</b>, <b>Online Travel</b>
    </span><b><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">, Online Entertainment </span></b><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">and<b> O2O</b></span><b><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"> </span></b><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        sectors. Additional coverage plans include
        <b>Macau Gaming</b>, <b>Entertainment</b>, <b>Lodging </b>and <b>Education</b>.
        We also pay special attention to the China operations of global companies, which
        are increasingly important to their performance.<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:.9pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
line-height:13.0pt;mso-line-height-rule:exactly"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:normal">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        Our
        stock picks emphasize companies that demonstrate:<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:.45pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
line-height:9.0pt;mso-line-height-rule:exactly"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:normal">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        Solid long-term growth
        potential<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Positive s</span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">tructural changes in fundamentals<o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Dominant market share<o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Experienced and trustworthy management<o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Reasonable valuation<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-justify:inter-ideograph;line-height:10.0pt;mso-line-height-rule:
exactly"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:33.55pt;
margin-bottom:0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:127%">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        Our extensive and award-winning experience
        as former Wall Street sell-side analysts and sales representatives affords us the
        unique ability to deliver on-the-ground and timely analysis on the China
        market. Specifically, our services are differentiated from traditional sell-side
        research by the following:<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:.5pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
line-height:5.5pt;mso-line-height-rule:exactly"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:normal">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        Research products featuring “long-term
        views” and “short-term actionable data points”<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        All analysts based in China, with
        access to senior management of publicly traded companies<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        Extensive channel checks with industry
        professionals and private-company leaders<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        A combination of computerized
        and manual tracking of key operating metrics<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        Customized research projects
        for clients<o:p></o:p>
    </span>
</p>

<p class="MsoNormal" style="mso-margin-top-alt:3.45pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal">
    <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
        Research sales based in New
        York, California and Shanghai, actively delivering to clients<o:p></o:p>
    </span>
</p>
 
<span lang="EN-US" style="font-size:11.0pt;line-height:115%;font-family:&quot;Cambria&quot;,&quot;serif&quot;">
    <br clear="all" style="page-break-before:always">
</span>

 
    <p class="MsoNormal" style="mso-margin-top-alt:.2pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
line-height:12.0pt;mso-line-height-rule:exactly"><span lang="EN-US" style="font-size:12.0pt;font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:1.0pt;margin-right:0cm;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:150%">
        <b>
            <i>
                <span lang="EN-US" style="font-size:12.0pt;
line-height:150%;font-family:&quot;Cambria&quot;,&quot;serif&quot;;color:#1A325D">
                    Corporate Access
                    Is Key to Add Value for Our Clients<o:p></o:p>
                </span>
            </i>
        </b>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.75pt;
margin-bottom:0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:127%">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            86Research highlights corporate access as
            a core business in its daily operations. 86Research analysts and sales representatives
            work proactively and closely with clients to talk to corporate management and industry
            professionals.<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.8pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.8pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            We
            organize a variety of activities and events for institutional clients to provide
            knowledge about subjects industries and companies, including:<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:.9pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
line-height:13.0pt;mso-line-height-rule:exactly"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:normal"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Management non-deal road shows<o:p></o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Industry conferences<o:p></o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            Conference calls with management
            (including video conferencing)<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            Calls with industry professionals
            and private companies (including video conferencing)<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:3.35pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">China field trips<o:p></o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:3.45pt;margin-right:0cm;
margin-bottom:0cm;margin-left:23.55pt;margin-bottom:.0001pt;text-align:justify;
text-justify:inter-ideograph;line-height:normal"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&#8226; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">Analyst calls and marketing meetings<o:p></o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:.15pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:6.5pt;mso-line-height-rule:
exactly"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
10.0pt;mso-line-height-rule:exactly"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <b>
            <i>
                <span lang="EN-US" style="font-size:12.0pt;
line-height:127%;font-family:&quot;Cambria&quot;,&quot;serif&quot;;color:#1A325D">Perfect Valley</span>
            </i>
        </b><b>
            <i>
                <span lang="EN-US" style="font-size:12.0pt;line-height:127%;font-family:&quot;Cambria&quot;,&quot;serif&quot;;
color:#1A325D"><o:p></o:p></span>
            </i>
        </b>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            Perfect
            Valley is a
        </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            new
            initiative that focuses research on global Internet companies. We cover global
            Internet companies. All reports will be published in Chinese language, not only
            helping domestic investors invest in overseas companies, but also transferring
            global knowledge to local company management and industry people.
        </span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">&nbsp;</span><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p></o:p></span>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <b>
            <i>
                <span lang="EN-US" style="font-size:12.0pt;
line-height:127%;font-family:&quot;Cambria&quot;,&quot;serif&quot;;color:#1A325D">Our Teams<o:p></o:p></span>
            </i>
        </b>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            86Research
            China Team is led by C. Ming Zhao, Head of Research.&nbsp; Ming is the founder
            of 86Research. Prior to 86Research, Ming had over a dozen years of equity
            research experience in Chinese technology sectors in both A shares and overseas
            markets. His most recent profession was senior analyst at SIG, covering Chinese
            ADRs for seven years. Ming also worked for China Eagle Securities and Huaan
            Fund Management for over three years before moving to the U.S. In his field,
            Ming was ranked "Best Analysts on the Street (#1, 2010)" by Wall
            Street Journal and "World's Top Analyst (#2, 2008)" by Financial
            Times. Ming graduated from University of Pittsburgh (MBA), Shanghai University
            of Finance and Economics (MS) and Beijing University of Posts and Telecom (BE).
            Ming is a CFA and FRM holder. <o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            Our
            institutional sales team is led by Mark Durkin, Head of Sales based in New
            York City. Before joining 86Research, Mark was a senior institutional sales
            representative at Caris &amp; Company for one year. Prior to Caris, Mark spent 2005-2010
            at SIG in institutional sales; 2002-2005 at Fulcrum Global Partners; and
            1997-2002 at Robertson Stephens. Mark has over 25 years of experience in equity
            research and sales, beginning from Salomon Brothers and J.P. Morgan. Mark
            graduated from Colorado College (BA).<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%"><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p>&nbsp;</o:p></span></p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <b>
            <i>
                <span lang="EN-US" style="font-size:12.0pt;
line-height:127%;font-family:&quot;Cambria&quot;,&quot;serif&quot;;color:#1A325D">Contact Us<o:p></o:p></span>
            </i>
        </b>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            To
            learn more about our research services, please send an email to <span style="color:blue">sales(at)86research.com</span>.<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="mso-margin-top-alt:0cm;margin-right:2.7pt;margin-bottom:
0cm;margin-left:5.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;line-height:127%">
        <span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;">
            For
            career opportunities, please
        </span><u>
            <span lang="EN-US" style="font-family:
&quot;Cambria&quot;,&quot;serif&quot;;color:#333333;border:none windowtext 1.0pt;padding:0cm">
                <a href="http://www.86research.com/career.html">
                    <span style="text-decoration:none">
                        click
                        here
                    </span>
                </a>
            </span>
        </u><span lang="EN-US" style="font-family:&quot;Cambria&quot;,&quot;serif&quot;"><o:p></o:p></span>
    </p>
