<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SystemConnection" connectionString="Database='mysql';Data Source=192.168.90.101;User ID=user20170913;Password=KenTYDrZJOeUEvlP3NE&amp;$pouzrk6gXD#;Port=53306;SslMode=None"
          providerName="MySql.Data.MySqlClient"/>
    <add name="DataConnection" connectionString="Database='mysql';Data Source=192.168.90.101;User ID=user20170913;Password=KenTYDrZJOeUEvlP3NE&amp;$pouzrk6gXD#;Port=53306;SslMode=None"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="redisConnectString" value="127.0.0.101:6379,serviceName=DotnetSpider,keepAlive=8,allowAdmin=True,connectTimeout=10000,abortConnect=True,connectRetry=20"/>
    <add key="emailHost" value=""/>
    <add key="emailPort" value=""/>
    <add key="emailAccount" value=""/>
    <add key="emailPassword" value=""/>
    <add key="emailDisplayName" value=""/>
  </appSettings>
</configuration>