<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SystemConnection" connectionString="Database='mysql';Data Source=192.168.90.100;User ID=user20170913;Password=KenTYDrZJOeUEvlP3NE&amp;$pouzrk6gXD#;Port=53306;SslMode=None"
          providerName="MySql.Data.MySqlClient"/>
    <add name="DataConnection" connectionString="Database='mysql';Data Source=192.168.90.100;User ID=user20170913;Password=KenTYDrZJOeUEvlP3NE&amp;$pouzrk6gXD#;Port=53306;SslMode=None"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="redisConnectString" value="192.168.90.108:56379,serviceName=XBJRKJ,keepAlive=20,allowAdmin=True,connectTimeout=65535,password=>;)h.RgcMeBD?%U:bT\__xY&lt;Fwp3?5{&amp;,abortConnect=True,connectRetry=20"/>
    <add key="emailHost" value="smtp.pa1pa.com"/>
    <add key="emailPort" value="25"/>
    <add key="emailAccount" value="alert@pa1pa.com"/>
    <add key="emailPassword" value="Zousong.100"/>
    <add key="emailDisplayName" value="Fintech Alert"/>
  </appSettings>
</configuration>