<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SystemConnection" connectionString="Database='mysql';Data Source=localhost;User ID=root;Port=3306;SslMode=None;"
          providerName="MySql.Data.MySqlClient"/>
    <add name="DataConnection" connectionString="Database='mysql';Data Source=localhost;User ID=root;Port=3306;SslMode=None;"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="redisConnectString" value="127.0.0.1:6379,serviceName=DotnetSpider,keepAlive=8,allowAdmin=True,connectTimeout=10000,abortConnect=True,connectRetry=20"/>
    <add key="emailHost" value=""/>
    <add key="emailPort" value=""/>
    <add key="emailAccount" value=""/>
    <add key="emailPassword" value=""/>
    <add key="emailDisplayName" value=""/>
    <!--<add key="serviceUrl" value="http://localhost:5000/"/>
    <add key="serviceToken" value="1213456"/>-->
  </appSettings>
</configuration>