<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataConnection" connectionString="Database='mysql';Data Source=localhost2;User ID=root;Port=3306;SslMode=None;"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="redisConnectString" value=""/>
    <add key="emailHost" value=""/>
    <add key="emailPort" value=""/>
    <add key="emailAccount" value=""/>
    <add key="emailPassword" value=""/>
    <add key="emailDisplayName" value=""/>
  </appSettings>
</configuration>