<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataConnection" connectionString="Database='mysql';Data Source=localhost;password=;User ID=root;Port=3306;SslMode=None" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="emailHost" value="" />
    <add key="emailPort" value="25" />
    <add key="emailAccount" value="" />
    <add key="emailPassword" value="" />
    <add key="emailDisplayName" value="Fintech Alert" />
    <!--<add key="hub" value="http://localhost:60001/"/>
    <add key="hubToken" value="7676B334FFB34354953FC04D691A60C3"/>-->
  </appSettings>
</configuration>
