<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${level}] ${message}">
      <highlight-row foregroundColor="Cyan" condition="level == LogLevel.Trace"/>
      <highlight-row foregroundColor="DarkGray" condition="level == LogLevel.Debug"/>
      <highlight-row foregroundColor="Yellow" condition="level == LogLevel.Warn"/>
      <highlight-row foregroundColor="Red" condition="level == LogLevel.Error"/>
    </target>
    <target name="file" xsi:type="File" maxArchiveFiles="30" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${event-properties:item=Identity}][${level}] ${message}" fileName="${basedir}/logs/log${shortdate}.txt" keepFileOpen="false" />
    <target xsi:type="Database" name="dblog" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        insert into DotnetSpider.Log (Identity, NodeId, Level, Message, Exception) values (@Identity, @NodeId, @Level, @Message, @Exception);
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@Identity" layout="${event-properties:item=Identity}" />
      <parameter name="@NodeId" layout="${event-properties:item=NodeId}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <!-- connection string -->
      <connectionString></connectionString>
      <install-command ignoreFailures="false" text="CREATE DATABASE IF NOT EXISTS `DotnetSpider` DEFAULT CHARACTER SET utf8;"/>
      <install-command ignoreFailures="true" text="CREATE TABLE IF NOT EXISTS `DotnetSpider`.`Log` (`Identity` varchar(120) NOT NULL, `NodeId` varchar(120) NOT NULL,`Logged` timestamp NULL DEFAULT current_timestamp,`Level` varchar(20) DEFAULT NULL, `Message` text, `Exception` text, `__Id` bigint(20) NOT NULL AUTO_INCREMENT, PRIMARY KEY (`__Id`), KEY `IndexIdentity` (`Identity`), KEY `IndexNodeId` (`NodeId`), KEY `IndexIdentyNodeId` (`Identity`,`NodeId`)) AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="dblog" />
  </rules>
</nlog>