<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="broker" value="http://localhost:55626/"/>
    <add key="group" value="default"/>
    <add key="heartbeat" value="30"/>
    <add key="processCount" value=""/>
    <add key="retryDownload" value="5"/>
    <add key="token" value="aaaaa"/>
  </appSettings>
</configuration>