<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="FiddlerCore" version="4.6.2.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="MailKit" version="1.10.0" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net45" />
  <package id="MimeKit" version="1.10.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="2.3.0" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.3.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.3.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.3.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.3.11" targetFramework="net45" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.1.608" targetFramework="net45" />
  <package id="System.Collections" version="4.0.11" targetFramework="net45" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net45" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net45" />
  <package id="System.Linq" version="4.1.0" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net45" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.11" targetFramework="net45" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net45" />
  <package id="WebDriver.GeckoDriver" version="0.11.1" targetFramework="net45" />
</packages>