<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <!--<add name="DefaultConnection" connectionString="User ID=developer;Password=qqq111;Persist Security Info=True;Initial Catalog=DotnetSpider;Data Source=.;" />-->
    <add name="DefaultConnection" connectionString="User ID=developer;Password=qqq111;Persist Security Info=True;Initial Catalog=EastdayComSpider;Data Source=192.168.145.88;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>