<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chromium.ChromeDriver" version="2.22" targetFramework="net45" />
  <package id="Dapper" version="1.50.1" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net45" />
</packages>