
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DotnetSpider Log Center</h2>
<div>
    <input id="userid" type="text" value="DotnetSpider" />
    <input id="refresh" type="button" onclick="refreshtasks()" value="Refresh" />
    <div id="tasks">
    </div>
</div>
<div>
    <div id="content_inner">
        <span>No Log</span>
    </div>
</div>
<script src="~/Scripts/viewlogs.js"></script>

