@model  List<DotnetSpider.Portal.Models.TaskStatus>
@{
}
<div class="row">
    <input id="dataUrl" value="@ViewBag.DataUrl" style="display:none;"/>
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Task Status</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div id="dataList"></div>
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7">
                            <ul class="pagination">
                                <pager current-page="@ViewBag.CurrentPage" total-page="@ViewBag.TotalPage" setting-link-attr-id="pager" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<script type="text/javascript">
    function updateTaskStatus() {
        var url = $('#dataUrl').val();
        $.get(url,
            function (data) {
                var content = $('#dataList');
                content.empty().append(data);
            });
    }

    updateTaskStatus();
    setInterval(updateTaskStatus, 5000);
</script>
