<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018-2019 <a href="https://github.com/zlzforever/IdentityServer4.Admin">IdentityServer4.Admin</a>.</strong> All rights reserved.
</footer>