<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @if (IsSectionDefined("title"))
    {
        @await RenderSectionAsync("title")
    }
    else
    {
        <title>DotnetSpider Portal</title>
    }
    @await Html.PartialAsync("_GlobalCss")
    @if (IsSectionDefined("css"))
    {
        @await RenderSectionAsync("css")
    }
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @await Html.PartialAsync("_Header");
    <div id="view">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @await Html.PartialAsync("_SideBar")
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1 v-text="module">
                    @await RenderSectionAsync("header", false)
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/"><i class="fa fa-dashboard"></i>Home</a>
                    </li>
                    @await RenderSectionAsync("breadcrumb", false)
                </ol>
            </section>
            <!-- Main content -->
            <section class="content container-fluid">
                @RenderBody()
            </section>
        </div>
        <!-- /.content-wrapper -->
        @await Html.PartialAsync("_Footer")
        @await Html.PartialAsync("_ControlSideBar")
    </div>
</div>
<!-- ./wrapper -->
@await Html.PartialAsync("_GlobalScripts")
@if (IsSectionDefined("scripts"))
{
    @await RenderSectionAsync("scripts", true)
}
<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience. -->
</body>
</html>