<!-- Sidebar Menu -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <li class="active menu" id="MenuHome">
        <a href="/">
            <i class="fa fa-area-chart"></i><span>Home</span>
        </a>
    </li>
    <li id="MenuRepository" class="menu">
        <a href="/docker-repository">
            <i class="fa fa-user"></i><span>镜像仓储</span>
        </a>
    </li>
    <li id="MenuDownloaderAgent" class="menu">
        <a href="/downloader-agent">
            <i class="fa fa-graduation-cap"></i><span>下载器代理</span>
        </a>
    </li>

    <li id="MenuSpider" class="menu">
        <a href="/spider">
            <i class="fa fa-book"></i><span>任务</span>
        </a>
    </li>
    <li id="MenuDocker" class="menu">
        <a href="/docker">
            <i class="fa fa-book"></i><span>Docker 交互</span>
        </a>
    </li>
</ul>
<!-- /.sidebar-menu -->