<!-- Sidebar Menu -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER @DateTimeOffset.Now.ToString("yyyy/MM/dd HH:mm:ss")</li>
    <li class="active menu" id="MenuHome">
        <a href="/">
            <i class="fa fa-area-chart"></i><span>Home</span>
        </a>
    </li>
    <li id="MenuRepository" class="menu">
        <a href="/docker-repository">
            <i class="fa fa-database"></i><span>Repository</span>
        </a>
    </li>
    <li id="MenuSpider" class="menu">
        <a href="/spider">
            <i class="fa fa-calendar"></i><span>Spider</span>
        </a>
    </li>
    <li id="MenuDownloaderAgent" class="menu">
        <a href="/agent">
            <i class="fa fa-desktop"></i><span>Agent</span>
        </a>
    </li>
</ul>
<!-- /.sidebar-menu -->