<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${level}] ${message}">
      <highlight-row foregroundColor="Cyan" condition="level == LogLevel.Trace"/>
      <highlight-row foregroundColor="DarkGray" condition="level == LogLevel.Debug"/>
      <highlight-row foregroundColor="Yellow" condition="level == LogLevel.Warn"/>
      <highlight-row foregroundColor="Red" condition="level == LogLevel.Error"/>
    </target>
    <target name="file" xsi:type="File" maxArchiveFiles="30" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${event-properties:item=Identity}][${level}] ${message}" fileName="${basedir}/logs/log${shortdate}.txt" keepFileOpen="false" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>