<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${level}] ${message}">
      <highlight-row foregroundColor="Cyan" condition="level == LogLevel.Trace"/>
      <highlight-row foregroundColor="DarkGray" condition="level == LogLevel.Debug"/>
    </target>
    <target name="file" xsi:type="File" maxArchiveFiles="30" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${event-properties:item=Identity}][${level}] ${message}" fileName="${basedir}/logs/log${shortdate}.txt" keepFileOpen="false" />
    <target xsi:type="Database" name="dblog" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=7.0.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        insert into dotnetspider.log (identity, node, logged, level, message, callsite, exception) values (@identity, @node, @logged, @level, @message, @callsite, @exception);
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@identity" layout="${event-properties:item=Identity}" />
      <parameter name="@node" layout="${event-properties:item=Node}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <!-- connection string -->
      <connectionString></connectionString>
      <install-command ignoreFailures="false" text="CREATE DATABASE IF NOT EXISTS `dotnetspider`  DEFAULT CHARACTER SET utf8;"/>
      <install-command ignoreFailures="false" text="CREATE TABLE IF NOT EXISTS `dotnetspider`.`log` (`identity` varchar(120) NOT NULL, `node` varchar(120) NULL,`logged` timestamp NULL DEFAULT NULL,`level` varchar(20) DEFAULT NULL, `message` text, `callSite` text, `exception` text, `id` bigint(20) NOT NULL AUTO_INCREMENT, PRIMARY KEY (`id`), KEY `index01` (`identity`)) ENGINE=MyISAM AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;"/>
    </target>
    <target xsi:type="Database" name="dbstatus" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=7.0.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        insert ignore into dotnetspider.status (
        `identity`, `status`, `thread`, `left`, `success`, `error`, `total`, `avgdownloadspeed`, `avgprocessorspeed`, `avgpipelinespeed`, `logged`
        ) values (
        @identity, @status, @thread, @left, @success, @error, @total, @avgdownloadspeed, @avgprocessorspeed, @avgpipelinespeed, @logged
        );
        update dotnetspider.status set `status`=@status, `thread`=@thread,`left`=@left, `success`=@success, `error`=@error, `total`=@total, `avgdownloadspeed`=@avgdownloadspeed, `avgprocessorspeed`=@avgprocessorspeed, `avgpipelinespeed`=@avgpipelinespeed, `logged`=@logged WHERE identity=@identity;
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@left" layout="${event-properties:item=Left}" />
      <parameter name="@success" layout="${event-properties:item=Success}" />
      <parameter name="@error" layout="${event-properties:item=Error}" />
      <parameter name="@total" layout="${event-properties:item=Total}" />
      <parameter name="@avgdownloadspeed" layout="${event-properties:item=AvgDownloadSpeed}" />
      <parameter name="@avgprocessorspeed" layout="${event-properties:item=AvgProcessorSpeed}" />
      <parameter name="@avgpipelinespeed" layout="${event-properties:item=AvgPipelineSpeed}" />
      <parameter name="@thread" layout="${event-properties:item=ThreadNum}" />
      <parameter name="@identity" layout="${event-properties:item=Identity}" />
      <parameter name="@status" layout="${event-properties:item=Status}" />
      <parameter name="@logged" layout="${date}" />
      <!-- connection string -->
      <connectionString></connectionString>
      <install-command ignoreFailures="false" text="CREATE DATABASE IF NOT EXISTS `dotnetspider`  DEFAULT CHARACTER SET utf8;"/>
      <install-command ignoreFailures="false" text="CREATE TABLE IF NOT EXISTS `dotnetspider`.`status` (`identity` varchar(120) NOT NULL,`logged` timestamp NULL DEFAULT NULL,`status` varchar(20) DEFAULT NULL,`thread` int(13),`left` bigint(20),`success` bigint(20),`error` bigint(20),`total` bigint(20),`avgdownloadspeed` float,`avgprocessorspeed` bigint(20),`avgpipelinespeed` bigint(20),PRIMARY KEY (`identity`)) ENGINE=InnoDB DEFAULT CHARSET=utf8;"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="NLogMonitor" minlevel="Trace" writeTo="dbstatus" final="true" />
    <logger name="*" minlevel="Trace" writeTo="dblog" />
  </rules>
</nlog>