<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${event-properties:item=UserId}][${event-properties:item=TaskGroup}][${level}] ${message}">
      <highlight-row foregroundColor="Cyan" condition="level == LogLevel.Trace"/>
      <highlight-row foregroundColor="DarkGray" condition="level == LogLevel.Debug"/>
    </target>
    <target name="file" xsi:type="File" maxArchiveFiles="30" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${event-properties:item=UserId}][${event-properties:item=TaskGroup}][${level}] ${message}" fileName="${basedir}/logs/log${shortdate}.txt" keepFileOpen="false" />
    <target xsi:type="Database" name="dblog" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=7.0.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        insert into dotnetspider.log (identity,
        taskgroup, userid, logged, level, message, callsite, exception
        ) values (
        @identity, @taskgroup, @userid, @logged, @level, @message, @callsite, @exception
        );
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@identity" layout="${event-properties:item=Identity}" />
      <parameter name="@taskgroup" layout="${event-properties:item=TaskGroup}" />
      <parameter name="@userid" layout="${event-properties:item=UserId}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <!-- connection string -->
      <connectionString></connectionString>
      <install-command ignoreFailures="false" text="CREATE DATABASE IF NOT EXISTS `dotnetspider`  DEFAULT CHARACTER SET utf8;"/>
      <install-command ignoreFailures="false" text="CREATE TABLE IF NOT EXISTS `dotnetspider`.`log` (   `taskgroup` varchar(100) DEFAULT NULL,`userid` varchar(100) DEFAULT NULL,`identity` varchar(100) DEFAULT NULL,`logged` timestamp NULL DEFAULT NULL,`level` varchar(20) DEFAULT NULL, `message` text, `callSite` text, `exception` text, `id` bigint(20) NOT NULL AUTO_INCREMENT, PRIMARY KEY (`id`), KEY `index01` (`identity`)) ENGINE=MyISAM AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;"/>
    </target>
    <target xsi:type="Database" name="dbstatus" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=7.0.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        insert ignore into dotnetspider.status (
        taskgroup, userid, identity, status, message, logged
        ) values (
        @taskgroup, @userid, @identity, @status, @message, @logged
        );
        update dotnetspider.status set status=@status, message=@message, logged=@logged WHERE taskgroup=@taskgroup and userid=@userid and identity=@identity;
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@message" layout="${event-properties:item=Message}" />
      <parameter name="@taskgroup" layout="${event-properties:item=TaskGroup}" />
      <parameter name="@userid" layout="${event-properties:item=UserId}" />
      <parameter name="@identity" layout="${event-properties:item=Identity}" />
      <parameter name="@status" layout="${event-properties:item=Status}" />
      <parameter name="@logged" layout="${date}" />
      <!-- connection string -->
      <connectionString></connectionString>
      <install-command ignoreFailures="false" text="CREATE DATABASE IF NOT EXISTS `dotnetspider`  DEFAULT CHARACTER SET utf8;"/>
      <install-command ignoreFailures="false" text="CREATE TABLE IF NOT EXISTS `dotnetspider`.`status` (`taskgroup` varchar(100) DEFAULT NULL,`userid` varchar(100) DEFAULT NULL,`identity` varchar(100) DEFAULT NULL,`logged` timestamp NULL DEFAULT NULL,`status` varchar(20) DEFAULT NULL,`message` varchar(300) DEFAULT NULL,`id` bigint(20) NOT NULL AUTO_INCREMENT,PRIMARY KEY (`id`),UNIQUE KEY `uid` (`taskgroup`,`userid`,`identity`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="NLogMonitor" minlevel="Trace" writeTo="dbstatus" final="true" />
    <logger name="*" minlevel="Trace" writeTo="dblog" />
  </rules>
</nlog>