<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="[${date:format=yyyyMMdd HH\:mm\:ss}][${event-properties:item=UserId}][${event-properties:item=TaskGroup}][${level}] ${message}">
      <highlight-row foregroundColor="Cyan" condition="level == LogLevel.Trace"/>
      <highlight-row foregroundColor="DarkGray" condition="level == LogLevel.Debug"/>
    </target>
    <target xsi:type="Database" name="dblog" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=7.0.5-IR21, Culture=neutral, PublicKeyToken=null">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        insert into dotnetspider.log (identity,
        taskgroup, userid, logged, level, message, callsite, exception
        ) values (
        @identity, @taskgroup, @userid, @logged, @level, @message, @callsite, @exception
        );
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@identity" layout="${event-properties:item=Identity}" />
      <parameter name="@taskgroup" layout="${event-properties:item=TaskGroup}" />
      <parameter name="@userid" layout="${event-properties:item=UserId}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />

      <!-- connection string -->
      <connectionString></connectionString>
    </target>
    <target xsi:type="Database" name="dbstatus" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=7.0.5-IR21, Culture=neutral, PublicKeyToken=null">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        insert ignore into dotnetspider.status (
        taskgroup, userid, identity, status, message, logged
        ) values (
        @taskgroup, @userid, @identity, @status, @message, @logged
        );
        update dotnetspider.status set status=@status, message=@message, logged=@logged WHERE taskgroup=@taskgroup and userid=@userid and identity=@identity;
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@message" layout="${event-properties:item=Message}" />
      <parameter name="@taskgroup" layout="${event-properties:item=TaskGroup}" />
      <parameter name="@userid" layout="${event-properties:item=UserId}" />
      <parameter name="@identity" layout="${event-properties:item=Identity}" />
      <parameter name="@status" layout="${event-properties:item=Status}" />
      <parameter name="@logged" layout="${date}" />

      <!-- connection string -->
      <connectionString></connectionString>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="NLogMonitor" minlevel="Trace" writeTo="dbstatus" final="true" />
    <logger name="*" minlevel="Trace" writeTo="dblog" />
  </rules>
</nlog>