<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.8.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="NLog" version="4.5.3" targetFramework="net45" />
  <package id="Polly" version="5.9.0" targetFramework="net45" />
</packages>