@{
    Layout = null;
    ViewData["Title"] = "Contact";
}

<address>
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:zlzforever@163.com">zlzforever@163.com</a><br />
</address>
