@section breadcrumb{
    <li >
        <a href="#">Dashboard</a>
    </li>
}

@section header{
    Dashboard<small v-text="moduleDescription"></small>
}
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <i class="ion ion-ios-gear-outline"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Users</span>
                <span class="info-box-number">222</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red">
                <i class="fa fa-google-plus"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Locked Users</span>
                <span class="info-box-number">333</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green">
                <i class="ion ion-ios-cart-outline"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Clients</span>
                <span class="info-box-number">444</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow">
                <i class="ion ion-ios-people-outline"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Api Resources</span>
                <span class="info-box-number">66</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
