@{
    ViewData["Title"] = "Home";
}
<div class="row" style="padding-top: 20px">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Agent</h4>
                <p class="card-text">@ViewData["Agent"]</p>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card bg-success">
            <div class="card-body">
                <h4 class="card-title">Online-Agent</h4>
                <p class="card-text">@ViewData["OnlineAgent"]</p>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title">Spider</h4>
                <p class="card-text">@ViewData["Spider"]</p>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card bg-success">
            <div class="card-body">
                <h4 class="card-title">Running-Spider</h4>
                <p class="card-text">@ViewData["RunningSpider"]</p>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <!-- /.col -->
</div>