@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">YY Channels 2016-08-19 180001</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="taskStatusTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="Task Status">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Task Group</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">Time</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">Level</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">Message</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">CallSite</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>YY</td>
                                        <td>2016/08/19 18:14:34.269</td>
                                        <td><span class="badge bg-gray" style="width: 60px">Info</span></td>
                                        <td>采集: https://s.alitrip.com/vacation/list.htm?cq=全国&mq=德国&jumpTo=1&itemOrderEnum=soldRecent&orderDirEnum=DESC&searchConditions=&playType=0&_input_charset=utf8 成功.</td>
                                        <td>DotnetSpider.Core.LogExtensions+<>c__DisplayClass0_0.<SaveLog>b__0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
