@model DotnetSpider.Portal.Models.Spider.CreateSpiderViewModel


<div class="col-xs-12">
    <div class="box">
        <form action="/spider" method="post">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cron</label>
                            <input asp-for="Cron" class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="Cron" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Type</label>
                            <input asp-for="Type" class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Registry</label>
                            <input readonly="readonly" asp-for="Registry" class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="Registry" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Repository</label>
                            <input readonly="readonly" asp-for="Repository" class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="Repository" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tag</label>
                            @if (Model.Tags != null && Model.Tags.Count > 0)
                            {
                                <select asp-for="Tag" class="form-control select2" style="width: 100%;">
                                    @foreach (var r in Model.Tags)
                                    {
                                        <option value="@r">@r</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <input asp-for="Tag" class="form-control" autocomplete="false" type="text"/>
                            }
                            <span asp-validation-for="Tag" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Environment</label>
                            <input asp-for="Environment" class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="Environment" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-default btn-sm  btn-flat">Submit</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</div>

@section scripts
{
    <script>
        $(function() {
            app.activeMenu('Spider');
        });
    </script>
}